<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="Host" value="https://www."/>
    <add key="Huboo" value="huboo.co.uk/"/>
    <add key="SQLConnectionString" value="Data Source=Test;Initial Catalog=TestProject;User ID=Name;Password=Password" />
  </appSettings>

</configuration>